*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .nerko-one-regular {
  font-family: "Nerko One", cursive;
  font-weight: 400;
  font-style: normal;
} */

/* .montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */


:root{
    --giallo-main-bg: #F6F5F3;
    --giallo-footer-bg: #7C69A4;
    --title-color: #FF9614;
}


/* #region utils  */
.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}


[class^="col"]{
    padding: 0 1rem;
}
.col-1{
    width: calc(100% / 12 * 2);
}
.col-2{
    width: calc(100% / 12 * 2);
}
.col-3{
    width: calc(100% / 12 * 3);
}
.col-4{
    width: calc(100% / 12 * 4);
}
.col-5{
    width: calc(100% / 12 * 5);
}
.col-6{
    width: 50%;
}
.col-7{
    width: calc(100% / 12 * 7);
}
.col-8{
    width: calc(100% / 12 * 8);
}
.col-9{
    width: calc(100% / 12 * 9);
}
.col-10{
    width: calc(100% / 12 * 10);
}
.col-11{
    width: calc(100% / 12 * 11);
}
.col-12{
    width: 100%;
}
/* #endregion utils  */


/* header  */
.nav{
    text-align: center;
    padding: 1rem 0;
}
h1{
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 3.5rem;
    color: #FF9614;
}

